.card{
    width: 10rem;
    height: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    padding: 0px 26px 2px 26px;
}
.card >span:nth-of-type(1){
    color: var(--black);
    font-size: 24px;
    margin-top: -2rem;
}
.card >span:nth-of-type(2){
    color: var(--gray);
    font-size: 16px;
}
.card >img{
    transform: scale(0.6);
    margin-top: -1rem;
}
.c-button{
    color: cadetblue;
    background: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
}
.c-button:hover{
    color: slateblue;
}
.s-blur1{
    left: -15rem;
    top: 10rem;
}
.s-blur2{
    left: 30rem;
    top: 10rem;
}