body, html {
  font-family: 'Gumela';
}
@font-face {
    font-family: 'Gumela';
    src: local('Gumela'), url(./fonts/Gumela Regular.otf) format('opentype');
}

* {
    font-family: 'Gumela';
    font-weight: normal;
    font-size: 20px;
}

body {
    margin: 0;
}